* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    background: rgb(218, 179, 70);
    padding: 4px;
    position: fixed;
    bottom: 10px;
    width: 98%;
}

    form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    form button {
        width: 8.5%;
        background: rgb(62, 190, 232);
        border: none;
        padding: 10px;
        color: white;
    }

#messages {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    background: #3399ff;
    padding: 20px;
    min-height: 300px;
    margin: 10px;
    height: 400px;
    overflow-y: scroll;
}

    #messages li {
        padding: 5px 10px;
        margin: 8px;
    }
    li.fnds-msg {
        background: #cce5ff;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 2px red;
        -ms-box-shadow: 2px 2px 2px red;
        box-shadow: 2px 2px 2px red;
    }

/*#messages li:nth-child(odd) {
    background: #f1eaea;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    -ms-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    box-shadow: 2px 2px 2px rgb(208, 246, 57);
}*/

li.my-msg {
    background: #f1eaea;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    -ms-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    box-shadow: 2px 2px 2px rgb(208, 246, 57);
}

#username {
    padding: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 0px 21px #24efe6;
    -ms-box-shadow: 5px 0px 21px #24efe6;
    box-shadow: 5px 0px 21px #24efe6;
    box-shadow: 5px 0px 21px rgba(36, 239, 230, 0.58);
}

h4, form,label {
    margin: 10px;
}
