body {
    font: 12px Helvetica, Arial;
}

/*form {
    background: rgb(218, 179, 70);
    padding: 4px;
    position: fixed;
    bottom: 10px;
    width: 98%;
}*/

    /*form input {
        border: 0;
        padding: 10px;
        width: 90%;
        margin-right: .5%;
    }

    form button {
        width: 8.5%;
        background: rgb(62, 190, 232);
        border: none;
        padding: 10px;
        color: white;
    }*/

#messages {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    background: #5baaee;
    padding: 20px;
    min-height: 300px;
    height: 400px;
    overflow-y: scroll;
}

    #messages li {
        padding: 5px 10px;
        margin: 8px;
    }
    li.fnds-msg {
        background: #cce5ff;
        -ms-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 2px 2px 2px red;
        -ms-box-shadow: 2px 2px 2px red;
        box-shadow: 2px 2px 2px red;
    }

/*#messages li:nth-child(odd) {
    background: #f1eaea;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    -ms-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    box-shadow: 2px 2px 2px rgb(208, 246, 57);
}*/

li.my-msg {
    background: #f1eaea;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    -ms-box-shadow: 2px 2px 2px rgb(208, 246, 57);
    box-shadow: 2px 2px 2px rgb(208, 246, 57);
}

#username {
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 0px 21px #24efe6;
    -ms-box-shadow: 5px 0px 21px #24efe6;
    box-shadow: 5px 0px 21px #24efe6;
    box-shadow: 5px 0px 21px rgba(36, 239, 230, 0.58);
}

.row {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
}

.user-register {
    background: azure;
    padding: 10px;
    -webkit-box-shadow: 3px 3px 1px burlywood;
    -ms-box-shadow: 3px 3px 1px burlywood;
    box-shadow: 3px 3px 1px burlywood;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

#title {
    font-weight: bold;
    font: 16px Harrington, Arial;
    text-shadow: 0 0 5px #FF0000;
    color: white;
}